/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#slider1 {
  top: 30%;
}

#slider2 {
  top: 55%;
}

#slider3 {
  top: 70%;
}

#slider4 {
  top: 40%;
}

#seakay-logo {
  position: absolute;
  display: inline-block;
  margin: 0.8em;
  max-width: 8em;
}

#broadband {
  padding-top: 6em;
  padding-bottom: 6em;
}

.container {
  padding-top: 5em;
  padding-bottom: 5em;
}

.btn:hover {
  color: #bbdefb;
}

